name: local_storage_cache_example
description: Example app demonstrating local_storage_cache features
version: 1.0.0
publish_to: none

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.18.0
  local_storage_cache:
    path: ../
  path_provider: ^2.1.0

dev_dependencies:
  flutter_lints: ^3.0.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
